html{
	font-family: 'Arial', sans-serif;
}
body{
		margin:0;
		min-width: 750px;
}
header{
		position: relative;
		height: 10vh;
		width: 100%;
		 display:flex;
	 	background-color: yellow;
	 	justify-content: space-between;
	 	min-height: 90px;
	 	border-radius: 0 0 20px 20px;
}
a:hover{
	color: white;
}
a{
	text-decoration: none;
	color: black;
}
h1,h2{
	text-align: center;
}
article{
	padding-left: 40px;
	display: flex;
	box-shadow: 0 0 10px;
	border-radius: 20px;
	margin:0 15px 20px 15px;

}
.way img{
	width: 50vw;
	border-radius: 0 20px 20px 0;
		height: 60%;
		flex:1 1 60%;
}
.way p{
	margin:auto;
	flex:1 1 40%;
	font-size: 5vh;
}
.navigation{
	margin:auto;
	flex: 0 0 10%;
	flex-direction: column;
 	display:flex;
	 font-size: 32px;

}
.empty{
	flex: 1 1 85%;
}

.logo{
	float: right;
	width: 60px;

}
.icon{
	position: static;
	flex: 0 0 5%;
	margin: 15px 0 5px 0px;
	align-items: center;
	display: flex;
	margin: 0;
	justify-content: flex-end;
}
.selected{
	color: grey;
}
.way{
	display: flex;
	flex-direction: column;

}
.main{
	display: flex;
	justify-content: center;
}
.content{

}

@media screen and (min-width:480px) and (max-width:800px){
	.way p{
		font-size: 3.5vh;
	}
	h1{
		color: blue;
	}
}